@import "reset";
@import "variables";

body {
  background: #dddd url(../images/background.jpg) no-repeat;
  background-size: cover;
}

.slider {
  max-width: $slider-width;
  height: $slider-height;
  margin: 25px auto;
  position: relative;

  @media (max-width: 1024px) {
    max-width: calc($slider-width/2);
    height: calc($slider-height/2);
  }

  @media (max-width: 767px) {
    max-width: calc($slider-width/3);
    height: calc($slider-height/3);
  }

  &-pre,
  .slider-next {
    position: absolute;
    color: wheat;
    z-index: 100;
    font-size: 40px;
    top: 50%;

    transform: translateY(-50%);
    cursor: pointer;
    transition: color 0.3s linear;

    &:hover {
      color: rgb(77, 240, 77);
    }
  }

  &-pre {
    left: 20px;
  }

  &-next {
    right: 20px;
  }
}

.slider-main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.slider-list {
  height: 100%;
  position: relative;
  display: flex;
  transition: transform 0.5s linear;
}

.slider-item {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
  img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
}

.slider-dots {
  position: absolute;
  left: 50%;
  bottom: 25px;
  transform: translateX(-50%);
  z-index: 100;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;

  .active {
    background-color: bisque;
  }

  &-item {
    margin: 0 10px;
    width: 15px;
    height: 15px;
    border-radius: 100rem;
    background-color: rgb(77, 240, 77);
    transition: background-color 0.25s linear;
    cursor: pointer;
  }
}
